
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=7dTaPgf0/MV2epd7Ize76A==,T5u8QC60ClrywtbC2XenWQ==,/9sCK6ncd+U0tW/3gXTIag==,kDrJDwWHfruYcjAfhhHSAQ==
API_TOKEN_SALT=ALw6cJ08Rf94jFQ1I7VFHg==
ADMIN_JWT_SECRET=8FjZMK96Te5JfL14uR2pJQ==
TRANSFER_TOKEN_SALT=rpYTsge8zpHZ4lvo5IRNbw==
ENCRYPTION_KEY=X/5pEU5dfezOIRKQxAO5wA==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=X+XXp4uIZrJOQRHaTnl/pA==
